:root {
  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue: #00ACEF;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;

  /* App Colors */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-mindarc: var(--color-blue);
  --color-mindarc-variant: var(--color-orange);
  --color-text: var(--color-white);

  --mindarc-hero-bg: rgba(54, 54, 54, 0.5);

  /* --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px; */
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2); */
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
