:root {
  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue: #00ACEF;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;

  /* App Colors */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-mindarc: var(--color-blue);
  --color-mindarc-variant: var(--color-orange);
  --color-text: var(--color-white);

  --mindarc-hero-bg: rgba(54, 54, 54, 0.5);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
